fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
python-dotenv
stripe
itsdangerous
werkzeug
email-validator
pytest
httpx
pandas
scikit-learn
nltk
jinja2
prometheus-client
xhtml2pdf
rapidfuzz
fastapi-mail
python-multipart
PyYAML
starlette
pydantic[email]
