fastapi
uvicorn[standard]
python-docx
python-multipart
openai
jinja2
pandas
fastapi-mail
xhtml2pdf
scikit-learn
rapidfuzz
nltk
bcrypt
databases[postgresql]
sqlalchemy
asyncpg
psycopg[binary]
psycopg2-binary
python-dotenv
stripe
itsdangerous
werkzeug
email-validator
pytest
httpx
prometheus-client
PyYAML
starlette
pydantic[email]
python-jose[cryptography]
numpy
aiosqlite
